.header {
  display: flex;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.88);
  align-items: center;
}

.menu {
  justify-content: center;
  width: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

.logoff {
  margin-left: 8px;
}